<html>

<head>
    <script type="module">import { random } from "./js/random.mjs"; window.random = random;</script>
</head>

<body>
    <div>
        <h1 id="randomNumber" style="border:1px solid black; width:1em; height:1em">{{number}}</h1>
        <button onclick="random.generateNumber()" >Generate Random Number>></button>
    </div>
</body>

</html>