<html>

<head>
    <script type="module">import { square } from "./js/square.mjs"; window.square = square;</script>
</head>

<body>
    <div>
        <h1 id="squareNumber" style="border:1px solid black; width:1em; height:1em">{{number}}</h1>
        <button onclick="square.generateNumber() ">Generate Random square Number>></button>
    </div>
</body>

</html>